### Uncomment the below lines to install dependecies if depencies not already installed

In [ ]:
# !pip install pycaret
# !pip install pycaret gradio

### All imports

In [4]:
import pycaret
import gradio as gr
from pycaret.regression import *

### Get the data and the initial setup

In [5]:
from pycaret.datasets import get_data
diamond_data = get_data('diamond')
initial_setup = setup(diamond_data, target = 'Price')

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

### Model and the app creation

In [10]:
create_model_var = create_model('dt')
create_app(create_model_var)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Running on local URL:  http://127.0.0.1:7861

To create a public link, set `share=True` in `launch()`.